/* Airbnb.css */

.listing-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.airbnb-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.airbnb-search-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.airbnb-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.airbnb-search-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.airbnb-no-match {
  color: red;
  margin-bottom: 20px;
}

.airbnb-listings {
  list-style: none;
  padding: 0;
}

.airbnb-listing-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.airbnb-listing-title {
  font-size: 24px;
}

.airbnb-listing-link {
  text-decoration: none;
  color: #333;
}

.airbnb-listing-link:hover {
  text-decoration: underline;
}

.airbnb-listing-price {
  font-weight: bold;
}

.airbnb-listing-location {
  color: #777;
}

/* Apply styles to .airbnb-listing-image */
.airbnb-listing-image {
  max-width: 200px; /* Set your desired fixed width */
  height: 150px; /* Set your desired fixed height */
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the specified dimensions */
  cursor: pointer;
  transition: transform 0.2s;
}

.airbnb-listing-image:hover {
  transform: scale(1.1);
}
